*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}

#container{
    height: 300px;
    width: 300px;
    background-color: black;
}
#parent{
    height: 200px;
    width: 200px;
    background-color: rgb(63, 59, 59);
}

#box{
    height: 100px;
    width: 100px;
    background-color: brown;
}
#circle{
    height: 100px;
    width: 100px;
    background-color: rgb(84, 3, 3);
    border-radius: 50%;
}

